{% extends 'base.html'%}
{% load static %}

{% block content%}
{% include 'includes/alerts.html'%}

<div class="main-section">
    {% include 'includes/cover_customer.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    {% comment %} sidebar {% endcomment %}
                    {% include 'includes/c_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class='text-uppercase'> Overview </h5>
                          
                            <div class='row'>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class='card'>
                                        <div class='card-header'>
                                            Total Orders
                                        </div>
                                        <div class='card-body text-center'>
                                            <a href="#"><h5 class='card-title'>{{orders.count}}</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class='card'>
                                        <div class='card-header'>
                                            Logged in as : {{user.email}}
                                        </div>
                                        <div class='card-body text-center'>
                                            <a href="{% url 'c_profile' %}"><h5 class='card-title'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit profile</h5></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="user-orders-list">
                                        <div class="responsive-table">
                                            <ul class="table-generic">
                                                <li class="order-heading-titles">
                                                    <div>Order id</div>
                                                    <div>Date</div>
                                                    <div>Total Price</div>
                                                    
                                                    <div>Status</div>
                                                </li>

                                                {% for order in view_orders %}
                                                <li class="order-heading-titles">
                                                    <div><a href="{% url 'cust_order_detail' order.order_number %}">order - {{order.order_number}}</a></div>
                                                    <div>{{order.created_at}}</div>
                                                    <div>$ {{order.total}}</div>

                                                    {% if order.status == "New" %}
                                                        <div><span class='badge badge-primary' style='color:white;'>{{order.status}}</span></div>
                                                    {% elif order.status == "Accepted" %}
                                                        <div><span class='badge badge-warning'>{{order.status}}</span></div>
                                                    {% elif order.status == "Completed" %}
                                                        <div><span class='badge badge-success' style='color:white;'>{{order.status}}</span></div>
                                                    {% else %}
                                                        <div><span class='badge badge-danger' style='color:white;'>{{order.status}}</span></div>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class='text-center'>
                                                <a href="{% url 'customer_orders' %}">View More</a>
                                            </div>

                                        </div>												
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}