{% extends 'base.html' %}

{% block content %}
{% include 'includes/alerts.html' %}

<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i> Order form</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder p-5">
                                    <form action="{% url 'place_order' %}" method='post'>
                                        {% csrf_token %}
                                        <h4>Account credentials</h4>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>First Name</label>
                                                {{form.first_name}}
                                                
                                    
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>Last Name</label>
                                                {{form.last_name}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>Phone number</label>
                                                {{form.phone}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label> Email Address</label>
                                                {{form.email}}
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="">
                                                <label>Delivery Address</label>
                                                {{form.address}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>Country</label>
                                                {{form.country}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>State</label>
                                                {{form.state}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>City</label>
                                                {{form.city}}
                                            </div>
                                        </div>  
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>Postal code</label>
                                                {{form.pin_code}}
                                            </div>
                                        </div>
                                </div> 
                            </div>
                            
                        </div>
                    </div>
                </div>

                {% comment %} orders section {% endcomment %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Your order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <ul>
                                            {% for item in cart_items %}
                                                <li id="cart-item-{{item.id}}">
                                                    <div class="image-holder"> <a href="{{item.fooditem.image.url}}"><img src="{{item.fooditem.image.url}}" alt=""></a></div>
                                                    <div class="text-holder">
                                                        <a href="{% url 'vendor_detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-danger" style="width: auto;">{{item.fooditem.vendor}}</a>
                                                        <h6>{{item.fooditem}}</h6>
                                                        <span>{{item.fooditem.description|truncatewords:6}}</span>
                                                    </div>
                                                    <div class='quantity' style="display: inline-block; position:absolute; top: 50%; transform: translateY(-50%); margin-top: -10px;">
                                                        <lable>x {{item.quantity}}</lable>
                                                    </div>
                                                    <div class="price-holder">
                                                        <span id="price-per-one-{{item.id}}">$ {{item.fooditem.price}}</span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                                <li class='p-3' style="list-style-type: none; font-weight: 600;">
                                                    Total
                                                    <span class="price float-right">
                                                        <span class="currency">$ </span>
                                                        <span id="total">{{total}}</span>
                                                    </span>
                                                    
                                                </li>
                                                <li class='p-3' style="list-style-type: none; font-weight: 600;">
                                                    Payment method 
                                                    <span class="price float-right">
                                                        <select>
                                                            <option value="Cash">Cash</option>
                                                          </select>
                                                        
                                                    </span>
                                                    <div class="text-center p-3" id='confirm-order' style='display: block;'>
                                                        <button type='submit' class='btn btn-danger' style='color:white;'>Request order</button>
                                                        </form>
                                                    </div>
                                                </li>




                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}