{% extends 'base.html' %}

{% block content %}
{% include 'includes/alerts.html' %}

<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i> Order form</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder p-5">
                                    <form action="#" method='post'>
                                        {% csrf_token %}
                                        <h4>Account credentials</h4>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>Name </label>
                                                <input type='text' placeholder='Enter your full name' value='{{account.full_name}}'readonly>
                                    
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="">
                                                <label>Phone number</label>
                                                <input type='tel' placeholder='+38 (098) 765 4321' value='{{account.phone_number}}'readonly>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="">
                                                <label>Delivery Address</label>
                                                <input type='text' value='{{account.address}}'readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="">
                                                <input type='checkbox' checked id='chk_reciver' name='user_is_reciver'>
                                                <span>I am a reciver</span>
                                            </div>
                                        </div>
                                        <div id="custom_reciver" style='display:none;'>
                                            <hr>
                                            <h4>Reciver credentials</h4>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="">
                                                    <label>Name </label>
                                                    <input type='text' placeholder='Enter your full name' name="reciver_name">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="">
                                                    <label>Phone number</label>
                                                    <input type='tel' placeholder='+38 (098) 765 4321' name='reciver_phone_number' pattern='^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$'>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="">
                                                    <label>Delivery Address</label>
                                                    <input type='text' name="reciver_address" placeholder='Country, state, area, city, street '>
                                                </div>
                                            </div>

                                        </div>
                                        <div class='text-center mt-5'>
                                            <input type='submit' class='btn btn-danger' style='color: white;' value='test'>
                                        </div>

                                    </form>
                                </div> 
                            </div>
                            
                        </div>
                    </div>
                </div>

                {% comment %} orders section {% endcomment %}
                <div class="col-lg-4 col-md-4 col-sm-48 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Your order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                                    <div>
                                        <table class="table table-borderless">
                                            {% for item in cart_items %}
                                            <tr>
                                              <td>
                                                <div class="image-holder"> <a href="{{item.fooditem.image.url}}"><img src="{{item.fooditem.image.url}}" alt="" style="width: 50px;"></a></div>
                                              </td>
                                              <td>
                                                <div class="text-holder">
                                                    <a href="" class="badge badge-danger " style="width: auto;">{{item.fooditem.vendor}}</a>
                                                    <h6 class='m-2'>{{item.fooditem}}</h6>
                                                    <span>x {{item.quantity}}</span>
                                              </td>
                                              <td>
                                                <span>$</span>
                                                    <span>{{item.price}}</span>
                                              </td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                        <div class='text-center p-3' style=" font-weight: 600;">
                                            
                                            <span>Total</span>
                                            <span>$ {{total}}</span>
                                        </div>
                                        {% comment %} <p class='p-3' style=" font-weight: 600;">
                                            Total
                                            <span class="price float-right">
                                                <span class="currency">$ </span>
                                                <span id="total">{{total}}</span>
                                            </span>
                                        </p> {% endcomment %}
                                    </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
